h1 {
    color: rgba(212, 108, 38, 0.473);
    font-size: 100px;
}

h2{
    color: #46484c;
}

b{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;

}
body{
    background-color: #fffbf7;
}

.header{
    /* Cuando todos los márgenes son diferentes,
     el modo de abreviar es el que describimos a 
     continuación, siendo las cifras de los 
     márgenes superior, derecho, inferior e 
     izquierdo respectivamente: */
    margin: 40px 20px 0px 0px ;
    
    /* Para hacer  que entren los elementos, 
    pero aparece el navbar */
    font-size: 0;

    height: 45px;
    font-family: sans-serif;
    line-height: 45px; 

}
li{
    display: inline;
}

/* Indico que voy a moverme hacia algo, es decir
a todos sus hijos */
.header >*{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
    
 }
 .navbar{
     width: 70%;
     text-align: center;
     color: #025157;
 }

 ul > li {
    margin-right: 10px;
  }

 .actions{
     width: 15%;
     text-align: center;
     font-size: 14px;
 }

 .actions > *{
    margin-right: 10px;
    margin-left: 10px;
 }

 /* Para colocar elemntos dentro
  de una misma clase es así */
 .actions a {
    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
  }

  .publicity{
    font-family: sans-serif;
  }

  .publicity > p{
      color: #343434;

  }

  .publicity h2{
      color: #025157;
  }

  .promo{
      display: flex;
      /* Con sólo flex, ya ordena las cosas */
      width: 70%;
      margin: 100px auto;
      /* con 100 px auto, 100px arriba y abajo */
      align-items: center;
  }
  .video{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
  }

  .fixed-header {
    position: fixed;
    background-color: white;
    /* Esto sólo se puede agregar a una sección */
    top: 0;
    left: 0;
    right: 0;
  }
  
  /* Esta sección  es el prework */
  .sectionEcommerce{
    background-color: #a1d683;
    display: flex;
    height: 900px;
    align-items: center;
  }

  .sectionEcommerceBrand{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }

  .sectionEcommerceBrand h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
    width: 700px;
    height: 80px;
  }

  .sectionEcommerceBrand p{
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 700px;
  }

  .sectionEcommerceBrand button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    width: 160px;
  }

  .sectionEcommerceBrand img{
    width: 500px;
    max-width: 100%;
  }
  .sectionEcommerceSeeMore{
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 620px;
      align-items: center;
      padding: 10px;

  }

  .sectionEcommerceSeeMore img{
      width: 300px;
      height: 300px;
  }

  .sectionEcommerceSeeMore h3{
        color: #025157;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 0px;
  }

  .sectionEcommerceSeeMore h2{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .sectionEcommerceSeeMore p{
    color: #8b8b8bcc;
    margin-left: 15px;
    margin-right: 15px;
  }

  .sectionEcommerceSeeMore button{
      padding: 10px;
      width: 200px;
  }

  .sectionEcommerceSeeMore .logoEverly{
    width: 100px;
    height: 100px;
    max-height: 16vw;
    border-radius: 50%;
    background-color: #f9da73;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    bottom: -950px;
    right: 250px;
    
  }

  .sectionEcommerceSeeMore .logo{
    width: 90px;
    height: 30px;
  }

  .features{
    display: grid;
    /* grid-template-columns: 300px 300px; */
    /* colocamos cuantas columnas quiero y de que dimenciones */
    /* grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2,330px);*/

    /* De esta manera hacemos lo anterior de la misma manera
     grid-template:  repeat(2, 330px) /repeat(2, 1fr) ; */

     background-color: #025157;
     padding: 5% 10%;
     display: grid;
     grid-template: repeat(2, 330px) / repeat(2, 1fr);

  /* Si coloco 1fr sirve para obtener el espacio disponible
  dividir entre los elementos que tenga */
    /* grid-template-columns: 1fr 1fr; */
  }

  .features-art{
    background-color: lightcyan;
    margin: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    align-items: center;
  }

  .features .features-art .features-art-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
  }

  .features .features-art .features-art-content img{
    width: 50px;
  }

  .features .features-art .features-art-content h3{
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }

  .features.features-art .features-art-content p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }

  .features .features-art .features-art-content a{
      font-size: 16px;
      color: #67b54b;
      font-weight: 600;
      text-decoration: none;
  }
  

  .features .features-art .features-art-image{
    flex: 1;
    width: 100px;
  }

  .features .features-art .features-art-image img{
    width: 400px;
  }

  .features .features-art .features-art-image .image2{
    height: 250px;
    width: 200px;
  }

  .matchaWorks{
    display: flex;
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .matchaWorks .explain{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    
  }

  .matchaWorks .explain a{
    color: #67b54b;
    text-decoration: none;
  }

  .matchaWorks .explain h2 {
    color: #025157;
    font-size: 50px;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
    font-family: "Alegreya", serif;
  }

  .matchaWorks .explain p{
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .matchaWorks .explain button{
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 6px;
    height: 45px;
  }

  .matchaWorks .cards{
     padding: 5% 10%;
     display: grid;
     grid-template-columns:  repeat(4, 1fr);
  }

  .matchaWorks .cards .card-step{
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    display: block;
  }

  .matchaWorks .cards .card-step .card-step-image{
    position: relative;
    height: 350px;;
  }

  .matchaWorks .cards .card-step .card-step-bg{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
  }

  .matchaWorks .cards .card-step .card-step-icon{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
  }

  .matchaWorks .cards .card-step .card-step-body{
    padding: 25px;
    box-sizing: border-box;
  }

  .matchaWorks .cards .card-step h3{
    font-size: 30px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 400;
    text-align: center;
  }

  .matchaWorks .cards .card-step p{
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
  }

  .matchaWorks .cards .card-step a{
    font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  